<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="/includes :: head"></head>

<body>

<div th:substituteby="/includes :: nav_bar"></div>

<div class="container">

    <div class="row-fluid">
        <form id="logBucketsForm" th:action="@{/logBucket/saveS3LogBucket}" method="POST" class="form-horizontal">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="s3LogBucketName"><span class="required">*</span> S3 Log Bucket
                        Name</label>

                    <div class="controls">
                        <input id="s3LogBucketName" name="s3LogBucketName" class="field" autofocus="autofocus"
                               required="required" type="text"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="s3LogBucketPrefix"><span class="required">*</span> S3 Log Bucket
                        Target Prefix
                        Name</label>

                    <div class="controls">
                        <input id="s3LogBucketPrefix" name="s3LogBucketPrefix" class="field"
                               required="required" type="text"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="s3LogBucketArchive"><span class="required">*</span> S3 Log Bucket
                        Archive Name</label>

                    <div class="controls">
                        <input id="s3LogBucketArchive" name="s3LogBucketArchive" class="field"
                               required="required" type="text"/>
                    </div>
                </div>

                <div class="controls">
                    <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
                </div>

            </fieldset>

        </form>
    </div>

    <div class="row-fluid">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Prefix</th>
                <th>Archive</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="logBucket : ${logBuckets}">
                <td th:text="${logBucket.bucketName}">name</td>
                <td th:text="${logBucket.targetPrefix}">prefix</td>
                <td th:text="${logBucket.archivePrefix}">archive</td>
                <td><a th:value="@{'/logBucket/deleteS3LogBucket/' + ${logBucket.bucketName}}" class="btn" id="deleteS3LogBucket" type="button" class="btn">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

        $(document).ready(function () {
            var url;
            $('#deleteS3LogBucket').click(function() {
                url = $('#deleteS3LogBucket').attr("value");
                deleteS3LogBucket();
            });

            function deleteS3LogBucket() {
                $.ajax({type: "DELETE", url:url, success:deleteSuccess});
            }

            function deleteSuccess() {
                location.reload();
            }
        });

    /*]]>*/
</script>
</body>
</html>